<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Cindex3</servlet-name>
        <servlet-class>Controlador.Cindex3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CObtenerMultass</servlet-name>
        <servlet-class>Controlador.CObtenerMultass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CnuevoRegistro</servlet-name>
        <servlet-class>Controlador.CnuevoRegistro</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Cindex3</servlet-name>
        <url-pattern>/Cindex3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CObtenerMultass</servlet-name>
        <url-pattern>/CObtenerMultass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CnuevoRegistro</servlet-name>
        <url-pattern>/CnuevoRegistro</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
